<div class="container">
    <div class="filtro">

        <button (click)="clickCategoria($event)" class="myButton" value="todos">Todas</button>
        <button (click)="clickCategoria($event)" class="myButton" *ngFor="let cat of arrCategorias" [value]="cat">{{cat}}</button>

    </div>
    <section>
        <article *ngFor="let post of posts">
            <h2>{{post.titulo}}</h2>
            <p class="autor">{{post.autor}}</p>


            <p class="texto">{{post.texto}}</p>
            <img [src]="post.imagen">
            <p class="fecha">{{post.fecha | date:'dd, MMMM, yy, HH:mm.ss'}}</p>
        </article>
    </section>
</div>